*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: normal;
  color: #262626;
  background-color: #cecece;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; /*запрет выделения img*/
}

input,
button {
  outline: none;
}

.wrapper {
  height: 100vh;
  overflow: hidden;
}

.container {
  margin: 0 auto;
}
